*{
    font-family: 'Roboto Slab', serif;
}
.adminPadre{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#logo{
    width: 400px;
    text-align: center;
}

.section{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section h2{
    text-align: center;
    margin: 1em 1em;
    
}

.categorias{
    display: flex;
    height: 25vh;
    justify-content: space-evenly;
    margin-bottom: 2em;
    flex-grow: 1;
    text-align: center;
}

.seleccionH{
    width: 40%;
    border-bottom: solid 10px #903749;
    border-right: solid 10px #903749;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #b4748143;
    border-radius: 20px;
}

.seleccionH img{
    width: 110px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.seleccionH h3{
    margin-left: 5%;
    margin-bottom: 2%;
    z-index: 1;
}

.seleccionH button{
    width: 50%;
    height: 2.5rem;
    background-color: #903749;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 5%;
    cursor: pointer;
    transition: 800ms;
}

.seleccionH button:hover{
    background-color: #6a2936;
    scale: 1.1;

}

#Link{
    width: 60%;
    
}